@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    max-width: 1440px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    height: 72px;
    align-items: center;
}

.logo {
    margin-right: 50px;
}

.logo p {
    text-transform: uppercase;
    font-size: 22px;
    color: #2E2F42;
    font-weight: 700;
}

.logo p span {
    color: #4D5AE5;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu p {
    padding: 0 30px;
    color: #2E2F42;
}

.contacts {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.contacts p {
    color: #434455;
    padding: 0 15px;
}

.main .banner {
    background: #2E2F42;
    display: flex;
    align-items: center;
    height: 600px;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    max-width: 350px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.banner button {
    color: white;
    background: #4D5AE5;
    width: 170px;
    height: 56px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 5px;
}

.descriptions {
    max-width: 1128px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.descriptions div {
    max-width: 264px;
}

.descriptions div h2 {
    color: #2E2F42;
    padding-bottom: 10px;
    font-weight: 500;
}

.descriptions div p {
    color: #434455;
}

.team {
    height: 732px;

    background: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.persons {
    display: flex;
    max-width: 1128px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.person{
    background: white;
    width: 264px;
    margin: 0 10px;
    height: 380px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.person-info{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo {
    max-width: 264px;
    width: 100%;
}
.name{
    text-align: center;
    padding: 5px;
    font-weight: 600;
    color: #2E2F42;
}

.role {
    text-align: center;
    padding: 5px;
    color: #434455;
}

.team h2{
    text-align: center;
    font-size: 34px;
    padding-bottom: 40px;
    color: #2E2F42;
}



.Portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects {
    display: flex;
    max-width: 1128px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.project{
    background: white;
    width: 360px;
    margin: 0 10px;
    height: 420px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-info{
    display: flex;
    height: 120px;
    padding-left: 15px;
    justify-content: center;
    flex-direction: column;
}
.prj-photo{
    width: 360px;
}
.prj-name{
    text-align: start;
    font-weight: 600;
    padding: 5px;
    color: #2E2F42;
}

.prj-class {
    text-align: start;
    padding: 5px;
    color: #434455;
}

.Portfolio h2{
    padding: 120px 0 80px;
    text-align: center;
    font-size: 44px;
    color: #2E2F42;
}

footer{
    width: 100%;
    background: #2E2F42;
    height: 312px;
    display: flex;
    align-items: center;
    justify-content: start;

}

footer .content{
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

footer .logo p{
    color: white;
    font-weight: 500;
}

footer .logo p span{
    color: #4D5AE5;
}

footer .content p{
    color: white;
    padding-top: 15px;
    font-size: 20px;
    line-height:32px;
    max-width: 364px;
}



  

